<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.suhail.WinTheMoney.gmailrefresh</string>
		<string>com.suhail.WinTheMoney.stmtrefresh</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<!-- Gmail OAuth: paste your Google iOS OAuth client ID below and the reversed-DNS scheme. -->
	<key>GIDClientID</key>
	<string>YOUR_GOOGLE_OAUTH_CLIENT_ID.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.YOUR_GOOGLE_OAUTH_CLIENT_ID</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
